@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
    transform: translateX(0);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(1);
}

.carousel-item > div {
    padding: 5px;
}

.bgimage {
    max-width: 100%;
    height: 45vw;
    background: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)), url('/images/Worlds_outside.JPG');
    background-repeat: no-repeat;
    background-position: center 10%;
    background-size: 100%;
    object-fit: cover;
    background-attachment: fixed;
}
.bgimage h5 {
    color:white;
    text-shadow:2px 2px #333;
}
.page-wrapper{
    font-family: 'open sans', monospace;
}
.site-header, .footer-format{
    background-color: #FFD500;
}

.crop-container {
    height: 30px;
    overflow: hidden;
}

.crop-container img {
    margin-top: -10px;
}

.enlarge {
    height: 30px;
    transition: 0.3s;
}

.enlarge:hover {
    height: 29px;
    margin-right: 2.3px;
    transition: 0.3s;
}


/* COLORS */
.site-header {
    background-color: rgba(var(--main-color), .9);
    color: rgb(var(--text-on-color));
    backdrop-filter: blur(5px);
}

.footer-format {
    background-color: rgba(var(--main-color), 1);
    color: rgb(var(--text-on-color));
}

body {
    transition: all;
}

.card {
    background-color: rgb(var(--background-color));
    border-color: rgb(var(--border-on-bg));
    color: rgb(var(--text-on-bg));
}

body.light-mode {
    --main-color: 255, 213, 0;
    --text-on-bg: 0, 0, 0;
    --text-on-color: 0, 0, 0;
    --background-color: 255, 255, 255;
    --border-on-bg: 75, 75, 75;
}

body.dark-mode {
    --main-color: 185, 160, 20;
    --text-on-bg: 213, 213, 213;
    --text-on-color: 0, 0, 0;
    --background-color: 0, 0, 0;
    --border-on-bg: 120, 120, 120;
}

.page-wrapper {
    background-color: rgb(var(--background-color));
    color: rgb(var(--text-on-bg));
}

/* DARK MODE TOGGLE */
.dark-mode .dark-mode-toggle-dark {
    display: none;
}
.light-mode .dark-mode-toggle-light {
    display: none;
}

.dark-mode-toggle {
    color: rgb(var(--text-on-color));
}

.container {
    margin-top: 0!important;
}