<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  </head>
  <body>
    <header class="site-header sticky-top">
        <nav class="navbar bg-body-tertiary navbar-expand-lg sticky-top p-1">
          <a class="navbar-brand px-2 text-primary" href="{{ site.url }}">
            <img src="https://www.boilerinvasion.org/assets/logo-3b720ee97a1404c54c3b0e199558d99517f5a24a4762505bf60c4957c3123cc4.png" alt="WBI logo" height="36px">
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ site.url }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sponsors">Sponsors</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/history">Team History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/resources">Resources</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://donate.boilerinvasion.org/" target="_blank">Donate</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="page-wrapper" style="margin: 25px">
      {{ content }}
    </main>

    <footer class="footer-format bg-body-tertiary">
      <div class="container py-5 col-12 col-md">
        <img src="https://www.boilerinvasion.org/assets/logo-3b720ee97a1404c54c3b0e199558d99517f5a24a4762505bf60c4957c3123cc4.png" alt="WBI logo" height="32px">
        <small class="d-block mb-3 text-muted">&copy;2024 All Copyright Reserved</small>
        <small class="d-block mb-3 text-muted">Site by Sehyeong Yeom, Ismail Taha</small>
      </div>
    </footer>
  </body>