<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="site-header sticky-top" style="background-color: #FFD500">
      <nav class="navbar navbar-expand-lg sticky-top p-1">
        <a class="navbar-brand px-2 text-primary" href="{{ site.url }}">
          <img src="/images/newyellowlogo.png" alt="WBI logo" height="36px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ site.url }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sponsors">Sponsors</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/histories">Team History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/news">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/resources">Resources</a>
              </li>
            </ul>
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0" style="margin-right: 15px;">
              <li class="nav-item">
                <a class="nav-link" href="https://westside-robotics.info/" target="_blank">Learn More</a>
              </li>
            </ul>
            <button class="nav-item btn btn-light" style="margin-right: 15px;">
              <a class="nav-link" href="https://donate.boilerinvasion.org/" target="_blank">Donate</a>
            </button>
          </div>
        </div>
      </nav>
    </header>

    <main class="page-wrapper" style="margin-bottom: 25px;">
      {{ content }}
    </main>

    <footer class="footer-format" style="background-color: #FFD500">
      <div class="container py-5 col-12 col-md">
        <img src="/images/newyellowlogo.png" alt="WBI logo" height="32px">
        <span class="ps-4" style="float: right; min-width: 100px;">
          <small class="d-block mb-2">Follow Us</small>
          <a class="text-decoration-none" href="https://www.instagram.com/team461wbi/?hl=en" target="_blank">
            <img src="https://1000logos.net/wp-content/uploads/2017/02/insta-logo.png" height="28px"></img>
          </a>
          <a class="text-decoration-none" href="https://twitter.com/frc461" target="_blank">
            <img src="https://i.pinimg.com/originals/73/db/02/73db02344af2f927fd361decc424e8b8.png" height="28px"></img>
          </a>
          <a class="text-decoration-none" href="https://www.facebook.com/WBI461/" target="_blank">
            <img src="https://seeklogo.com/images/F/facebook-icon-black-logo-133935095E-seeklogo.com.png" height="28px"></img>
          </a>
          <a class="text-decoration-none p-1" href="https://github.com/frc461" target="_blank">
            <img src="https://icons.veryicon.com/png/o/internet--web/social-icon/social-github.png" height="28px"></img>
          </a>
        </span>
        <small class="d-block mb-3 text-muted mt-3" style="max-width: 200px;">&copy;2024 All Copyright Reserved</small>
        <small class="d-block mb-3 text-muted">Site by Sehyeong Yeom, Ismail Taha
          <span style="float: right">
            <img src="/images/sand.png" alt="Wabi & Scarlet" height="64px">
          </span>
        </small>
      </div>
    </footer>
  </body>
