<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  </head>
  <body class="light-mode">
    <header class="shadow site-header sticky-top">
      <nav class="navbar navbar-expand-lg sticky-top p-1">
        <a class="navbar-brand mx-2 text-primary" href="{{ site.url }}">
          <div class="crop-container">
            <img class="enlarge" src="/images/newyellowlogo.png" alt="WBI logo" height="30px">
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto my-1">
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/histories">Team History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/news">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/resources">Resources</a>
              </li>
            </ul>
            <ul class="navbar-nav mr-auto" style="margin-right: 15px;">
              <li class="nav-item">
                <a class="nav-link" href="https://westside-robotics.info/" target="_blank">Learn More</a>
              </li>
            </ul>
            <button class="nav-item btn btn-light" style="margin-right: 15px;">
              <a class="nav-link" href="https://donate.boilerinvasion.org/" target="_blank">Donate</a>
            </button>
            <button class="nav-item btn btn-link dark-mode-toggle" onclick="toggle_dark_mode()">
              <i class="dark-mode-toggle-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars-fill" viewBox="0 0 16 16">
                  <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278"/>
                  <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.73 1.73 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.73 1.73 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.73 1.73 0 0 0 1.097-1.097zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
                </svg>
              </i>
              <i class="dark-mode-toggle-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sun-fill" viewBox="0 0 16 16">
                  <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708"/>
                </svg>
              </i>
            </button>
          </div>
        </div>
      </nav>
    </header>

    <main class="page-wrapper" style="padding-bottom: 25px;">
      {{ content }}
    </main>

    <footer class="footer-format">
      <div class="container py-5 col-12 col-md">
        <h5 class="fw-bold text-center">We are proudly sponsored by...</h5>
        <h5 class="fw-bold text-center">Strategic Partners</h5>
        <div class="row row-cols-2 row-cols-md-4 g-0 justify-content-center row-gap-3 mt-2">
          <div class="col my-auto text-center">
            <a href="https://www.caterpillar.com/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Caterpillar_logo.svg/2560px-Caterpillar_logo.svg.png" alt="Caterpillar Logo" style="width: 50%;" /></a>
          </div>
          <div class="col my-auto text-center">
            <a href="https://purduefirst.org/" target="_blank"><img src="/images/purduefirst.png" alt="PurduFirst Logo" style="width: 40%;" /></a>
          </div>
          <div class="col my-auto text-center">
            <a href="https://www.stratasys.com/en/" target="_blank"><img src="https://www.stratasys.com/siteassets/press-kit/ssys_logo_symbol_typemark_reg_rgb_png.png?v=48ee54" alt="Stratasys Logo" style="width: 50%;" /></a>
          </div>
          <div class="col my-auto text-center">
            <a href="https://www.wl.k12.in.us/" target="_blank"><img src="https://storage.googleapis.com/inview-cms-prod-bucket/entity-images/1078758129/profile_image/Official%20Logo%206.4.20.png" alt="WL Logo" style="width: 20%;" /></a>
          </div>
          <div class="col my-auto text-center">
            <a href="https://sledgehammerinfosystems.com/" target="_blank"><img src="/images/sledgehammerMark.png" alt="AoPS Logo" style="width: 50%;" /></a>
          </div>
          <div class="col my-auto text-center">
            <a href="https://www.arconic.com/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Arconic_logo.svg/1200px-Arconic_logo.svg.png" alt="Arconic Logo" style="width: 20%;" /></a>
          </div>
          <div class="col my-auto text-center">
            <a href="https://candcdi.com/" target="_blank"><img src="https://www.candcdi.com/wp-content/uploads/2020/08/cropped-shadowed-small-2.png" alt="CCDI Logo" style="width: 32.5%;" /></a>
          </div>
          <div class="col my-auto text-center">
            <h5>Westside Boilder Invasion Families & Alumni</h5>
          </div>
        </div>
        <h5 class="display-7 fw-bold mt-5 text-center">Gold Sponsors</h5>
        <div class="row row-cols-2 row-cols-md-4 g-0 justify-content-center row-gap-3 mt-2">
          <div class="col my-auto text-center">
            <a href="https://www.andymark.com/" target="_blank">
              <img src="https://cdn.andymark.com/media/W1siZiIsIjIwMTgvMTEvMDUvMTEvMjUvMjIvNDZjZWM5OTQtNmNhOS00MjEwLWJkM2UtZGFjMGI4OWU1MDE4L0FNMWluY2gtMDEucG5nIl1d/AM1inch-01.png?sha=8c026a8fcf4772bb" alt="Andymark Logo" style="width: 50%;" />
            </a>
          </div>
          <div class="col my-auto text-center">
            <a href="https://9and8golf.com/" target="_blank"><img src="/images/98golf.png" alt="9and8Golf Logo" style="width: 20%;" /></a>
          </div>
          <div class="col my-auto text-center">
            <a href="https://www.conexusindiana.com/resources/purdue-in-mac/" target="_blank"><img src="/images/inmac.png" alt="9and8Golf Logo" style="width: 50%;" /></a>
          </div>
          <div class="col my-auto text-center">
            <a href="https://ghaasfoundation.org/content/ghf/en/home.html" target="_blank">
              <img src="https://www.haascnc.com/content/dam/haascnc/gene-haas-foundation/2021-logo-ghf/GHF_Logo_LightBackground.png/jcr:content/renditions/original.original/image.png" alt="GeneHaas Logo" style="width: 25%;" />
            </a>
          </div>
          <div class="col my-auto text-center">
            <a href="https://summitfinancialgroupofindiana.com/" target="_blank"><img src="/images/summit.svg" alt="Summit Logo" style="width: 25%;" /></a>
          </div>
          <div class="col my-auto text-center">
            <a href="https://www.radianresearch.com/" target="_blank"><img src="/images/radian.png" alt="Radian Logo" style="width: 50%;" /></a>
          </div>
        </div>
        <h5 class="display-7 fw-bold mt-5 text-center">Silver Sponsors</h5>
        <div class="row row-cols-1 row-cols-md-4 g-0 justify-content-center row-gap-3 mt-2">
          <div class="col my-auto text-center">
            <a href="https://www.oscarwinski.com/" target="_blank"><img src="https://www.oscarwinski.com/wp-content/uploads/2020/02/Oscar-Winski-Wide-Logo-EMG.png" alt="Oscar Logo" style="width: 50%;" /></a>
          </div>
          <div class="col my-auto text-center">
            <a href="https://www.colorsinc.com/" target="_blank"><img src="https://colorsinc.com/wp-content/uploads/New-Logo-Mid-Size.jpg" alt="Colorsinc Logo" style="width: 50%;" /></a>
          </div>
          <div class="col my-auto text-center">
            <a href="https://selinc.com/" target="_blank"><img src="https://www.santaclarasystems.com/images/manufacturer/sel.png" alt="SEL Logo" style="width: 50%;" /></a>
          </div>
        </div>
        <img src="/images/newyellowlogo.png" alt="WBI logo" height="32px">
        <span class="ps-4" style="float: right; min-width: 100px;">
          <small class="d-block mb-2">Follow Us</small>
          <a class="text-decoration-none" href="https://www.instagram.com/team461wbi/?hl=en" target="_blank">
            <img src="https://1000logos.net/wp-content/uploads/2017/02/insta-logo.png" height="28px"></img>
          </a>
          <a class="text-decoration-none" href="https://twitter.com/frc461" target="_blank">
            <img src="https://i.pinimg.com/originals/73/db/02/73db02344af2f927fd361decc424e8b8.png" height="28px"></img>
          </a>
          <a class="text-decoration-none" href="https://www.facebook.com/WBI461/" target="_blank">
            <img src="https://seeklogo.com/images/F/facebook-icon-black-logo-133935095E-seeklogo.com.png" height="28px"></img>
          </a>
          <a class="text-decoration-none p-1" href="https://github.com/frc461" target="_blank">
            <img src="https://icons.veryicon.com/png/o/internet--web/social-icon/social-github.png" height="28px"></img>
          </a>
        </span>
        <small class="d-block mb-3 text-muted mt-3" style="max-width: 200px;">&copy;2024 All Copyright Reserved</small>
        <small class="d-block mb-3 text-muted">Site by Sehyeong Yeom, Ismail Taha
          <span style="float: right">
            <img src="/images/sand.png" alt="Wabi & Scarlet" height="64px">
          </span>
        </small>
      </div>
    </footer>
  </body>
